

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    border-bottom-color: unset !important; 
    -webkit-box-shadow: unset !important; 
    box-shadow: unset !important; 
 }
 
 .item-md .item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
   border-bottom-color: unset !important; 
   -webkit-box-shadow: unset !important; 
   box-shadow: unset !important; 
 }
 
 .item-md .item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
   border-bottom-color: unset !important; 
   -webkit-box-shadow: unset !important; 
   box-shadow: unset !important; 
 }
 
 .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
   border-bottom-color: unset !important; 
   -webkit-box-shadow: unset !important; 
   box-shadow: unset !important; 
 }
 
 
 
 