page-forgotpassword {
    ion-input {
        border-radius: 5px;
        padding-left: 5px;
        font-size: 0.7em;
        margin-bottom: 1px;
        border: 1px solid #ddd;
        background: #ffffff;
      }
      .list-md .item-block .item-inner {
        border-bottom: none;
      }
      .list-ios[inset] .item {
        border-bottom: none;
      }
      h3 {
        font-weight: 500;
        text-align: center;
        margin-top: 40px;
      }
      .centered {
        text-align: center !important;
    
      }
      .image {
        // background-color: #1169b9 !important;
        padding: 20% 0% 20% 0%;
        height: 40vh;
    
      }
      .centered img {
        vertical-align: middle;
      }
      img {
        width: 110px;
      }
      form {
        padding-top: 1.1em;
      }
      .input-wrapper {
        display: block;
      }
      #login {
        width: 96%;
        border-radius: 3px;
        margin-top: 5%;
        text-transform: none;
      }
      a {
        color: #000;
      }
      .forgot {
        font-weight: 300;
        color: black;
        text-align: center;
      }
      .member {
        text-align: center;
        margin: 10px 0;
        width: 100%;
        padding-bottom: 7px;
        font-size: 12px;
      }
      .member span {
        padding: 5px 0;
        color: #b9b9b9;
        border-bottom: 2px solid #f76663 !important;
      }
      input.text-input:-webkit-autofill {
        height: 20px;
      }
      .logintitle {
        font-size: 30px;
        text-align: center !important;
        color: #ffffff;
        padding-bottom: 5px;
      }
      .item-ios {
        padding-left: 0px !important;
      }
      .logincolor1 {
        font-weight: 400;
        color: #ffffff;
      }
      .logincolor {
        color: #ffffff;
      }
      input {
        border-radius: 3px;
        padding-bottom: 1.5em;
      }
      button {
        border-radius: 3px;
      }
    
      //   .item-md{
      //       padding-left: unset !important;
      //   }
    
      // .list-md .item-block .item-inner {
      //   border-bottom: none;
      // }
      // .list-ios[inset] .item {
      //   border-bottom: none;
      // }
      // h3 {
      //   font-weight: 500;
      //   text-align: center;
      //   margin-top: 40px;
      // }
      // .centered {
      //   text-align: center !important;
    
      // }
      // .image {
      //   background-color: #160f33 !important;
      //   padding: 20% 0% 20% 0%;
      //   height: 40vh;
    
      // }
      // .centered img {
      //   vertical-align: middle;
      // }
      // img {
      //   width: 70px;
      // }
      // form {
      //   padding-top: 1.1em;
      // }
      // .input-wrapper {
      //   display: block;
      // }
      // #login {
      //   width: 96%;
      //   border-radius: 3px;
      //   background-color: #f76663;
      //   margin-top: 5%;
      //   text-transform: none;
      // }
      // a {
      //   color: #000;
      // }
      // .forgot {
      //   font-weight: 300;
      //   color: black;
      //   text-align: center;
      // }
      // .member {
      //   text-align: center;
      //   margin: 10px 0;
      //   width: 100%;
      //   padding-bottom: 7px;
      //   font-size: 12px;
      // }
      // .member span {
      //   padding: 5px 0;
      //   color: #b9b9b9;
      //   border-bottom: 2px solid #f76663 !important;
      // }
      // input.text-input:-webkit-autofill {
      //   height: 20px;
      // }
      // .logintitle {
      //   font-size: 30px;
      //   text-align: center !important;
      //   color: #ffffff;
      //   padding-bottom: 5px;
      // }
      // .item-ios {
      //   padding-left: 0px !important;
      // }
      // .logincolor1 {
      //   font-weight: 400;
      //   color: #ffffff;
      // }
      // .logincolor {
      //   color: #ffffff;
      // }
      // input {
      //   border-radius: 3px;
      //   padding-bottom: 1.5em;
      // }
      // button {
      //   border-radius: 3px;
      // }
}
