page-sellproduct {
  .overview {
    font-weight: 500;
    font-size: 24px;
  }
  .summary {
    color: #666;
    margin-top: -25px;
  }
  .birthday {
    font-weight: 200;
    font-size: 18px;
  }
  .button-small-md {
    height: 3.1em !important;
  }
  .button[icon-only] {
    padding: 0;
  }
  .tiny {
    float: right;
    border: 1px solid #e8e8e8;
    height: 100%;
    min-width: 2.9em !important;
    background-color: white;
    padding-left: unset;
    margin-top: 0px !important;
  }
  .date {
    text-align: center;
  }
  ion-item-group {
    margin-left: -20px;
  }
  .n .scroll-content {
    overflow: hidden;
    margin-top: 28px !important
  }

  .searchbar-md .searchbar-input {
    background: #f5f5f5 !important;
    box-shadow: none !important;
  }
  .searchbar-md {
    width: 100% !important;
  }
  .searchbar-ios {
    width: 100% !important;
    padding: 0 8px;
    border-radius: 4px;
    min-height: 44px;
    border-top: none !important;
    border-bottom: none !important;
    background: #f5f5f5 !important;
  }
  .searchbar-ios .searchbar-input {
    background: #f5f5f5 !important;
  }
  .cent1 {
    background-color: #e8e8e8 !important; // border-style: solid !important;
    border-radius: 8px; // border: 0.8px;
    height: 30px !important;
  }
  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .t .scroll-content {
    padding-left: 0px !important;
    
    border: 0em !important;
    overflow: scroll !important;
  }
  p {
    white-space: normal;
  }
  .top img {
    margin-top: -19px;
    width: 9%;
    float: right;
    margin-right: 1vh
  }
  ion-icon {
    float: right;
    font-size: 35px;
    color: #f76663 !important;
    margin-right: 25px;
  }
  .username {
    font-weight: bold;
  }
  .message {
    white-space: normal !important;
  }
  .list-ios>.item-block:last-child,
  .list-ios>.item-wrapper:last-child .item-block {
    border: none !important;
  }
  .empty {
    text-align: center;
    border-top: 1px solid #ddd;
    font-size: 20px;
    font-weight: 200;
    padding-top: 100px;
  }
  .logos {
    margin-top: -19px;
    width: 9%;
    float: right;
    margin-right:1vh
  }
}
